<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Press+Start+2P&display=swap" rel="stylesheet">
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      text-align: center;
      background-color: #181825;
      color: #cdd6f4;
      font-family: "Press Start 2P", system-ui;
      position: relative;
    }

    .top-right {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      gap: 10px;
    }

    .top-right button {
      background-color: #bac2de;
      color: #1e1e2e;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: "Press Start 2P", system-ui;
      padding: 10px 20px;
    }

    .top-right button:hover {
      background-color: #cdd6f4;
    }

    .center-box {
      background-color: #1e1e2e;
      padding: 50px 40px;
      border-radius: 10px;
      color: #cdd6f4;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 12px;
      text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    button {
      width: 100%;
      max-width: 250px;
      padding: 10px;
      margin-bottom: 20px;
      border: 3px solid #cdd6f4;
      border-radius: 4px;
      background-color: #1e1e2e;
      color: #cdd6f4;
      font-family: "Press Start 2P", system-ui;
    }

    button {
      background-color: #bac2de;
      color: #1e1e2e;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #cdd6f4;
    }
  </style>
</head>

<body>
  <div class="top-right">
    <button onclick="window.location.href='/'">Home</button>
    <button onclick="window.location.href='/howto'">How to Play</button>
  </div>
  <div class="center-box">
    <h2>Register</h2>
    <form action="/auth/add-user" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Register</button>
    </form>
  </div>
</body>

</html>
