<html>
    <head>
        <title>Welcome to Tank Game!</title>
    </head>
    <body>
        <h1>Welcome to Tank Game!</h1>
        <p>Hello <%= name %>!!</p>
        <p>This is where our future game will live</p>
        <div>
            <a href="/auth/register">Sign Up</a>
            <a href="/auth/login">Log In</a>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html> 